<h1>React Practice</h1>
<ul><h2>
  <li>You have to create an account, then you can choose your background color.</li>
  <li>Made the background color change using Colorpicker React component.</li>
  <li>The Article Blog was cloned from https://github.com/railsjavascriptcourse/alpha-blog</li>
</ul></h2>
<%= link_to 'Home', root_path %>